In [1]:
import bql
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import matplotlib.pyplot as plt
# for RATS regression
import statsmodels.api as sm
from scipy import stats

In [2]:
bq = bql.Service()

In [6]:
#export share buyback company list from
universe = bq.univ.members('UKX Index')
start_date = '2017-01-01'
end_date = '2020-01-01'
date_range = bq.func.range(start_date, end_date)

#Add filter for status. open and to drop NA, 
item = bq.data.buyback_programs(announced_date=date_range,status="ALL",type="OPEN_MARKET")
#request = bql.Request(universe,item,with_params = dict(mode='cached'))
request = bql.Request(universe,item)
response = bq.execute(request)
df_initial = response[0].df().dropna()
df_initial=df_initial.reset_index() #reset ID to a column in dataframe
df_initial.shape

(113, 16)

In [4]:
df_initial.to_excel('RATS_UKX.xlsx', index=False)

In [7]:
#extract columns that we need
df_data=df_initial[['ID', 'ANNOUNCED_DATE','PCT_COMPLETE']]
df_data

                 ID ANNOUNCED_DATE  PCT_COMPLETE
0    FCIT LN Equity     2017-04-25      2.791635
1     SSE LN Equity     2017-03-31      0.000000
2     SSE LN Equity     2017-07-05      0.000000
3     SSE LN Equity     2019-02-01    150.032103
4     SSE LN Equity     2019-02-01    100.068324
..              ...            ...           ...
108  GLEN LN Equity     2018-07-05    218.476314
109  GLEN LN Equity     2018-09-25      0.000000
110  GLEN LN Equity     2019-02-20     74.884866
111   AV/ LN Equity     2017-05-25     98.636456
112   AV/ LN Equity     2018-05-01     99.999973

[113 rows x 3 columns]